#table-section {
  margin: 100px 0;
}

.mdl-layout-title {
  color: brown;
}

#form-section {
  margin-bottom: 300px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  font-style: bold;
  font-size: large;
  cursor: pointer;
}
